.page__titleheader{
    color:#212429;
    height: 237px;
    padding-left: 160px;
    padding-top: 96px;
    margin:0;
    box-sizing: border-box;
}

.page__content-gray{
    height: 1036px;
    border-top:1px solid #DDE2E5;
    background-color: #F9FAFC;
}

.page__footercontent_center{
    width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.page__footerdescription-center{
    width: 640px;
    margin: 0 auto;
}