.skeleton{
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
}
.skeleton_top{
    display: flex;
    margin-bottom: 24px;
}
.skeleton_avatar{
    background-color: var(--grey-2);
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.skeleton_text{
    flex-direction: column;
    margin: 8px 0px 8px 16px ;
}
.skeleton_name{
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grad1) 38.47%, var(--grad2) 56.48%, var(--grad3) 77.5%, var(--grey-2) 102.52%);
    width: 172px;
    height: 20px;
    margin-bottom: 8px;
}
.skeleton_preview-text{
    background: linear-gradient(92.51deg, var(--grey-2) 6.44%, var(--grad1) 38.47%, var(--grad2) 56.48%, var(--grad3) 77.5%, var(--grey-2) 102.52%);
    width: 257px;
    height: 20px;
}

.skeleton_bottom{
    flex-direction: column;
}

.skeleton_line1{
    height: 20px;
    margin-bottom: 8px;

    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton_line2{
    height: 20px;
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

